@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAeropuertosModel
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Pais</th>
      <th scope="col">Coord X</th>
      <th scope="col">Coord Y</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
 
    
  </tbody>
</table>