@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Fly Emirates</h1>
    <img class="img-fluid" src="https://www.reportur.com/wp-content/uploads/2020/07/emirates.png" alt="">
</div>
